---
layout: grid
---
 <div class="row">
     <div class="span10">
         <div class="main" role="main">
             <div class="post">
                 {{ content }}
             </div>
         </div>
     </div>
     <div class="span4">
         <p class="date">Posted on {{ page.date | date: "%B %d,  %Y" }}.</p>
         <p><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="zbowling">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></p>
     </div>
 </div>
 {% include disqus.html %}



